SUPABASE_URL="https://odgmqyvieykpzllmaxvu.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kZ21xeXZpZXlrcHpsbG1heHZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyMDIwNTYsImV4cCI6MjA3OTc3ODA1Nn0.pdb0Bcb8RFeVuHeic4Ucez657DNoYxSgY8-dwahXNuI"