name: critain
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

  # State Management
  provider: ^6.1.1

  # Backend
  supabase_flutter: ^2.0.0
  flutter_dotenv: ^5.1.0

  # Image Upload
  image_picker: ^1.0.5
  path: ^1.8.3

  # Date/Time Formatting
  intl: ^0.19.0

  # UI Icons
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/

